.left_section {
    display: flex;
    flex-direction: column;
    padding: 6px;
    margin: 5px;
    width: 120px;
}

.link {
    color: white;
    font-family: vkfont1;
    font-size: 15px;
    font-weight: 100;
    cursor: pointer;
    padding: 8px;
    
&:hover{
    background-color: rgb(37, 37, 37);
}}


.horizontailline {
    width: 100%;
    height: 1px;
    background-color: grey;
}